{% extends "templates/app.html" %}
{% block head %}
<style>
    body {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
</style>
{% endblock %}
{% block content %}
<h1>Apps</h1><br>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus reprehenderit commodi doloribus! Modi officia fugit totam! Incidunt, veniam impedit magnam ipsam, exercitationem quaerat quos quidem hic dicta illo, maiores minima?</p>
{% endblock %}