{% extends "templates/app.html" %}
{% block head %}
<style>
    body {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        overflow: hidden;
    }
    h1 {
        margin-bottom: 0;
    }
    div#apps {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        padding: 0 100px;
    }
    div#apps > div {
        border-radius: 10px;
        padding: 15px;
        background-color: #ccc3;
        border: solid 1px #fff6;
        box-shadow: 0px 0px 8px #fff2;
        cursor: pointer;
        transition: all 500ms;
    }
    div#apps > div.selected {
        border: solid 1px hsl(var(--custom-hue, 158), 100%, 78%);
        box-shadow: 0px 0px 8px hsl(var(--custom-hue, 158), 100%, 78%);
        background-color: hsla(var(--custom-hue, 154), 25%, 50%, 0.6);
    }
    #auto-time {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        font-weight: bold;
    }
    div#divider {
        background-color: rgba(255, 255, 255, 0.3);
        height: 5px;
        width: calc(100% - 60px);
        margin: 20px 30px;
        border-radius: 200px;
    }
</style>
{% endblock %}
{% block content %}
<h1>Apps</h1>
<div id="divider"></div>
{% if app.settings.warn.get_value() %}
<h2>Most apps have settings to change their function! Check it out at http://127.0.0.1:5192/settings.</h2>
<div id="divider"></div>
{% endif %}
<div id="apps">
    {% set ns = namespace(ci = 0) %}
    {% for napp in apps.values() %}
        {% if (not napp.hidden) and napp.id != app.id %}
            <div onclick="openApp('{{napp.id}}')" onmouseover="index = Number('{{ns.ci}}'); updateSelected();">
                {{napp.display_name}}
            </div>
            {% set ns.ci = ns.ci + 1 %}
        {% endif %}
    {% endfor %}
</div>
<p id="auto-time"></p>
{% endblock %}
{% block script %}
<script>
    let index = 0;
    let sframe = false;
    let lastapp = document.body;
    const appList = document.getElementById("apps");
    const apps = appList.children;
    function updateSelected() {
        lastapp.classList.remove('selected');
        apps[index].classList.add('selected');
        lastapp = apps[index];
    }
    document.addEventListener('keydown', function(event) {
        switch (event.key) {
            case 'Enter':
                apps[index].click();
                break;
            case 'ArrowLeft':
                index = (index - 1 + apps.length) % apps.length;
                updateSelected();
                break;
            case 'ArrowRight':
                index = (index + 1) % apps.length;
                updateSelected();
                break;
        }
    });
    document.addEventListener('wheel', function(event) {
        if (sframe) return;
        sframe = true;
        if (event.deltaX == -53) {
            index = (index - 1 + apps.length) % apps.length;
        } else if (event.deltaX == 53) {
            index = (index + 1) % apps.length;
        }
        updateSelected();
        setTimeout(() => {
            sframe = false; // The carthing wheel sometimes triggers twice when rotated once, this should hopefully help it
        }, 75);
    });
    updateSelected();
</script>
{% endblock %}