<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PYThing client</title>
    <link rel="stylesheet" href="/static/client.css">
    <script src="/socket.io.min.js"></script>
</head>
<body>
    <div id="status" style="display:none;"></div>
    <div id="loadanim"></div>
    <iframe id="appframe" src="/apps/dashboard/launch" frameborder="0"></iframe>
    <script src="/static/client.js"></script>
    {% for mod, app in mods %}
    {% include mod %}
    {% endfor %}
</body>
</html>