<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PYThing Settings</title>
    <style>
        body {
            background-color: rgb(18, 20, 19);
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div id="apps">
        {% for app in apps.values() %}
            {% if app.settings | length > 0 %}
            <div id="app-{{app.id}}">
                <h1>{{app.display_name}}</h1>
                <div class="settings">
                    {% for setting in app.settings.values() %}
                        {% if not setting.hidden %}
                        <div id="setting-{{app.id}}-{{setting.id}}" class="setting">
                            {% if setting.type == "string" %}
                                <span class="settinglabel">{{setting.display_name}}</span>
                                <input type="text" id="{{app.id}}-{{setting.id}}" value="{{setting.get_value()}}" data-setting-type="string">
                            {% elif setting.type == "bool" %}
                                <span class="settinglabel">{{setting.display_name}}</span>
                                <input type="checkbox" id="{{app.id}}-{{setting.id}}"{% if setting.get_value() %} checked{% endif %} data-setting-type="bool">
                            {% elif setting.type == "float" %}
                                <span class="settinglabel">{{setting.display_name}}</span>
                                <input type="number" pattern="[0-9]*[.,]?[0-9]*" step="0.01" value="{{setting.get_value()}}" data-setting-type="float">
                            {% elif setting.type == "int" %}
                                <span class="settinglabel">{{setting.display_name}}</span>
                                <input type="number" pattern="[0-9]*" onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="{{setting.get_value()}}" data-setting-type="int">
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>