{% extends "templates/app.html" %}
{% block head %}
<style>
    #auto-time {
        width: 100%;
        text-align: center;
        top: 0;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block content %}
<p id="auto-time"></p>
<div id="hardware">
    <div id="ram">
        <span class="label"></span>
        <span id="ram-percent"></span>
        <span id="ram-used"></span>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    on("upd", (payload) => {
        document.getElementById("ram-percent").innerText = payload.rp + "%"
        document.getElementById("ram-used").innerText = `${payload.ru}${payload.rl}/${payload.rt}${payload.rl}`
    })
</script>
{% endblock %}