{% extends "templates/app.html" %}
{% block head %}
<style>
    body {
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    #auto-time {
        width: 100%;
        height: 15px;
        text-align: center;
        top: 0;
        margin-top: 5px;
        font-weight: bold;
    }
    #hardware {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        flex-grow: 1;
        gap: 10px;
        height: 100%;
        padding-bottom: 15px;
    }
    #hardware > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: solid 2px rgb(223, 223, 223);
        background-color: #333a;
        border-radius: 20px;
        text-align: center;
        padding: 10px 0;
    }
    #hardware > div > .label {
        font-size: 1.2em;
    }
    #hardware > div > .main {
        font-size: 3em;
        font-weight: bold;
    }
    #hardware > div > .secondary {
        font-size: 1.5em;
        min-height: 1.2em;
    }
</style>
{% endblock %}
{% block content %}
<p id="auto-time"></p>
<div id="hardware">
    <div id="ram">
        <span class="label">RAM</span>
        <span id="ram-percent" class="main"></span>
        <span id="ram-used" class="secondary"></span>
    </div>
    <div id="cpu">
        <span class="label">CPU</span>
        <span id="cpu-percent" class="main"></span>
        <span class="secondary"></span>
    </div>
    <div id="dsk">
        <span class="label">Disk (R/W)</span>
        <span id="dsk-r" class="main"></span>
        <span id="dsk-w" class="main"></span>
        <span id="dsk-rwt" class="secondary"></span>
    </div>
    <div id="net">
        <span class="label">Network (Up/Down)</span>
        <span id="net-u" class="main"></span>
        <span id="net-d" class="main"></span>
        <span id="net-udt" class="secondary"></span>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    on("upd", (payload) => {
        document.getElementById("ram-percent").innerText = payload.rp + "%"
        document.getElementById("ram-used").innerText = `${payload.ru}/${payload.rt}`
        document.getElementById("cpu-percent").innerText = payload.cpu + "%"
        document.getElementById("net-u").innerText = payload.netur + "/s"
        document.getElementById("net-d").innerText = payload.netdr + "/s"
        document.getElementById("net-udt").innerText = payload.netut + "/" + payload.netdt
        document.getElementById("dsk-r").innerText = payload.dskrr + "/s"
        document.getElementById("dsk-w").innerText = payload.dskwr + "/s"
        document.getElementById("dsk-rwt").innerText = payload.dskrt + "/" + payload.dskwt
    })
</script>
{% endblock %}