* {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body.round {
    clip-path: inset(0 round 20px);
}
#status {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    margin: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    border-radius: 15px;
    box-shadow: rgb(27, 27, 27) 0px 0px 5px;
    pointer-events: none;
}
#loadanim {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: loadanim 0.5s ease-in-out forwards;
}
#loadanim.reload {
    animation: loadanimb 0.5s ease-in-out forwards;
}
@keyframes loadanim {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes loadanimb {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
#appframe {
    width: 100%;
    height: 100%;
    background-color: #497660;
}