* {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#status {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    margin: 10px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    border-radius: 10px;
}